<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title><%= locals.title || "Metal-Weld Specialties" %></title>
<meta name="description" content="Metal-Weld Specialties - Our experience surpasses our competition for over 60 years.">
<meta name="keywords" content="Web developer, web designer, express developer">
<meta name="author" content="Stephen Brooks">
<meta name="twitter:Freelance Web Developer" content="Web Developer for hire">
<meta name="twitter:web designing" content="Get a new or improved website for better traffic">
<meta name="twitter:url" content="https://twitter.com/ClearWebDesigns.png">
<meta name="twitter:card" content="Web developer for hire">
<!-- MDB icon -->
<link rel="icon" href="/img/mdb-favicon.ico" type="image/x-icon" />
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<!-- Google Fonts Roboto -->
<link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
/>
<!-- MDB ESSENTIAL -->
<link rel="stylesheet" href="/css/mdb.min.css" />
<!-- MDB PLUGINS -->
<link rel="stylesheet" href="/plugins/css/all.min.css" />
<!-- Custom styles -->
<link rel="stylesheet" href="/css/nav.css">
<style>
    .img-position {
        position: absolute;
        top: 125px;
        left: 43%;
        right: 43%
    }
    .logoBrandSize {
        height: 140px;
    }
    .introFit {
        padding-top: 330px;
    }
    .card.hover-shadow-light, .hover-shadow-light {
        transition: all .5s ease-in-out;
    }

    .card.hover-shadow-light:hover, .hover-shadow-light:hover {
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.05);
        transition: all .5s ease-in-out;
    }
</style>
</head>
