<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title><%= locals.title || "Metal-Weld Specialties" %></title>
<meta property="og:locale" content="en_GB" />
<meta property="og:title" content="Metal-Weld Specilaties" />
<meta property="og:description" content="Fabricating & Erecting for America's most recognized corporations since 1961." />
<meta property="og:url" content="https://metal-weld-specialties.herokuapp.com/open-graph-meta-tags/" />
<meta property="og:image" content="/img/navLogo.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:type" content="article" />
<meta name="description" content="Metal-Weld Specialties - Our experience surpasses our competition for over 60 years.">
<meta name="keywords" content="welding, fabricating, custom, new work, rework">
<meta name="author" content="Metal-Weld Specialties">
<meta name="linkedin:Metal Weld Specialist" content="Metal Fabrication & Welding">
<meta name="linkedin:Metal Welding" content="Fabricating & Erecting for America's most recognized corporations since 1961.">
<meta name="linkedin:url" content="https://www.linkedin.com/company/metal-weld-specialties-inc-/about/">
<meta name="linkedin:card" content="Metal Fabrication">
<link rel="canonical" href="https://metal-weld-specialties.herokuapp.com/">
<!-- MDB icon -->
<link rel="icon" href="/img/navLogo.png" type="image/x-icon" />
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link rel="stylesheet" href="/css/mdb.min.css">
<link rel="stylesheet" href="/plugins/css/all.min.css">
<!-- Custom styles -->
<link rel="stylesheet" href="/css/nav.css">
<style>
    .img-position {
        position: absolute;
        top: 120px;
        left: 25px;
    }
    .logoBrandSize {
        height: 90px;
    }
    .introFit {
        padding-top: 290px;
        padding-bottom: 90px;
    }
    .card.hover-shadow-light, .hover-shadow-light {
        transition: all .5s ease-in-out;
    }

    .card.hover-shadow-light:hover, .hover-shadow-light:hover {
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.05);
        transition: all .5s ease-in-out;
    }
</style>
</head>
