<nav class="navbar navbar-expand-lg fixed-top bg-white navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand bg-white" href="#!">
            <img src="https://metal-weld.netlify.app/img/navLogo.png" height="65" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       aria-current="page" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/projects">Projects</a>
                </li>
                <!-- Dropdown -->

            </ul>
            <ul class="navbar-nav d-flex flex-row">
                <% if(loggedIn) { %>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link"
                           aria-current="page" href="/staffAccount">
                            <i class="fas fa-users text-info fs-3" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Dashboard"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link"
                           aria-current="page" href="/logout">
                            <i class="fas fa-sign-out-alt text-info fs-3" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Logout"></i>
                        </a>
                    </li>
                <% } else { %>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="/login">
                                <i class="fas fa-sign-in-alt text-info fs-3" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Admin Login"></i>
                            </a>
                        </li>
                    <% } %>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="https://www.linkedin.com/company/metal-weld-specialties-inc-/about/" target="_blank">
<!--                        <img src="/img/linkedin.png" class="img-fluid" style="width: 35px; height: 35px;" alt="linkedin profile">-->
                        <i class="fab fa-linkedin-in fs-3 text-info" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Linkedin"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="https://www.google.com/maps/place/8137+N+83rd+Ave,+Peoria,+AZ+85345/@33.5549685,-112.2364095,17z/data=!3m1!4b1!4m6!3m5!1s0x872b6a771e1dc811:0x5f25c223e490ee5e!8m2!3d33.554964!4d-112.2342155!16s%2Fg%2F11c5nxht9f" target="_blank">
<!--                        <img src="/img/googleMapIcon.png" class="img-fluid" style="width: 25px; height: 25px;" alt="linkedin profile">-->
                        <i class="fas fa-map-marked-alt fs-3 text-info" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Google Maps"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>