<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
  <!-- Navbar -->
  <%- include('partials/navBar') -%>
  <!-- Navbar -->

</header>

<!--Section: Design Block-->
<!-- Container for demo purpose -->
<div class="container-fluid my-5 py-5">
  <div class="container my-5 py-5" itemid="contact us">
    <h1 class="display-3 fw-bold text-center mb-3" itemref="contact page">Contact Us</h1>

    <div class="row">
      <div class="col-md-8 p-2">
        <form name="contact" method="POST" data-netlify="true">
          <p>
            <label class="form-label">Your Name: </label>
            <input type="text" class="form-control" name="name" />
          </p>
          <p>
            <label class="form-label">Your Email: </label>
            <input type="email" name="email" class="form-control" />
          </p>
          <p>
            <label class="form-label">Message:</label>
            <textarea name="message" class="form-control" rows="7"></textarea>
          </p>
          <p>
            <button type="submit" class="btn btn-primary w-25">Send</button>
          </p>
        </form>
      </div>
      <div class="col-md-4 py-5">
        <img src="https://via.placeholder.com/450x300" class="img-fluid rounded-3 shadow-2-strong mb-3" alt="corporate office">
        <p>
          8137 North 83rd Ave <br>
          Peoria, Arizona 85345
        </p>
        <p>
          Office: 623-979-1117
        </p>
      </div>

    </div>
  </div>
</div>
<!-- Container for demo purpose -->


<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->

<!-- End your project here-->
</body>

<%- include('partials/scripts') -%>
</html>
