<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Section: Design Block-->
<!-- Container for demo purpose -->
<div class="container-fluid my-5 py-5">
    <!-- Container for demo purpose only -->
    <div class="container text-center pt-5">

        <section>
            <div class="mt-3 mb-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="projects.ejs">All Projects</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Project Info</li>
                    </ol>
                </nav>
            </div>
            <div class="lightbox">
                <div class="row text-center">
                    <div class="col-lg-4">
                        <h2>Laveen</h2>
                        <!--                        <a href="projectA.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                        <h2>ClubHouse</h2>
                        <!--                        <a href="projectA.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                    </div>
                    <div class="col-lg-4">
                        <h2>FlagStaff Medical</h2>
                        <!--                        <a href="projectA.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                        <h2>GCC Science Building</h2>
                        <!--                        <a href="projectA.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                    </div>
                    <div class="col-lg-4">
                        <h2>Luke AFB</h2>
                        <!--                        <a href="projectA.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                        <h2>NAU Science Building</h2>
                        <!--                        <a href="projectA.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                    </div>
                </div>
                <div class="row mt-5 text-center">
                    <div class="col-lg-4">
                        <h2>Hard Rock</h2>
                        <!--            <a href="projectC.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                        <h2>Hard Rock</h2>
                        <!--            <a href="projectC.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                    </div>
                    <div class="col-lg-4">
                        <h2>Playa Vista</h2>
                        <!--            <a href="projectC.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                        <h2>Playa Vista</h2>
                        <!--            <a href="projectC.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                    </div>
                    <div class="col-lg-4">
                        <h2>Lucky Dragon</h2>
                        <!--            <a href="projectC.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                        <h2>Lucky Dragon</h2>
                        <!--            <a href="projectC.html" class="btn mb-2 btn-outline-black">View Project Details</a>-->
                        <img src="https://via.placeholder.com/250x250"
                             data-mdb-img="https://via.placeholder.com/450x450" alt="Image"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Container for demo purpose only -->
</div>
<!-- Container for demo purpose -->

<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->

<!-- End your project here-->
</body>

<%- include('partials/scripts') -%>
</html>
