<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Section: Design Block-->

<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="text-center">
            <img
                    class="mb-2 img-fluid"
                    src="/img/error-page.png"
                    style="width: 350px; height: 350px;"
            />
            <h5 class="mb-3">
                Page Not Found Or Broken, Contact <a href="mailto:stephenbrooks714@gmail.com">Support</a> For Additional Help.
            </h5>
            <p class="mb-3">MDB Team</p>
            <a
                    class="btn btn-primary btn-lg"
                    href="/contact"
                    role="button"
            >Contact The Team</a
            >
        </div>
    </div>
</div>

<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->

<!-- End your project here-->
</body>

<%- include('partials/scripts') -%>
</html>
