<section class="container-fluid text-center mb-9">
    <div class="row">
        <div class="col-lg-6 col-md-12 p-3">
            <div>
                <div class="text-center">

                    <h2 class="h1">Why Choose Us?</h2>
                    <p class="text-muted">
                        Metal-Weld Specialties, Inc. is located in Peoria Arizona and has been family owned and operated since 1962. We adhere to the highest quality standards in the industry. Our team of professionals deliver high quality, complex steel projects to owners, general contractors and developers in Arizona, California, Hawaii and Nevada.

                    </p>
                    <a
                            class="btn btn-primary btn-lg"
                            href="/projects"
                            role="button"
                    >View Projects</a
                    >
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-3">
            <div class="d-flex justify-content-center align-items-center" style="height: 45vh;">
                <img src="/assets/playaVista-lasVegasNv.jpg"
                     class="img-fluid rounded shadow-lg" alt="img">
            </div>
        </div>
    </div>

</section>