<section class="pb-3">

    <!--Section: Design Block-->
    <section>

        <h3 class="mb-5 text-center">Contact us</h3>

        <p class="mb-5 mx-auto w-responsive">
            Our staff welcomes you to come in person to handle any matter that you may have. But if for some reason you can't make it, please send us a message with
            our secure form below or give us a call.
        </p>

        <form name="ContactForm2" method="POST" data-netlify="true">
            <div class="row">
                <div class="col-md-9 p-3">
                    <p>
                        <label class="form-label">Your Name: </label>
                        <input type="text" class="form-control" name="name" />
                    </p>
                    <p>
                        <label class="form-label">Your Email: </label>
                        <input type="email" name="email" class="form-control" />
                    </p>
                    <p>
                        <label class="form-label">Message:</label>
                        <textarea name="message" class="form-control" rows="7"></textarea>
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary w-25">Send</button>
                    </p>
                </div>
                <div class="col-md-3 p-3">
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-map-marker-alt fa-2x text-primary"></i>
                            <p>8137 North 83rd Ave | Peoria, Arizona 85345</p>
                        </li>
                        <li>
                            <i class="fas fa-phone fa-2x text-primary"></i>
                            <p>Office: (623) 979-1117</p>
                        </li>
                        <li>
                            <i class="fas fa-envelope fa-2x text-primary"></i>
                            <p>info@metal-weld.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </form>

    </section>
    <!--Section: Design Block-->

</section>