<!-- Container for demo purpose -->
<style>
    .spread {
        letter-spacing: 30px;
    }
</style>
<div class="mb-9">

    <!--Section: Design Block-->
    <section>

        <h3 class="text-center display-4 spread mb-5">Our Projects
            <hr style="opacity: 1; color: black; width: 280px; margin-left: auto; margin-right: auto;">
        </h3>

        <p class="text-center mb-5 mx-auto w-responsive">
            The work that we have done for the past 60 years has stood as a testimony of our accomplishments and the client's expectations met.
            View some previous work that we have completed, and see why our customers continue to highly recommended us.
            
            We a have more detailed collection of projects to see, sectioned off by each of our office locations. Click on the button below to view them. <br>
            <a href="/projects" class="btn btn-primary">View All Projects</a>
        </p>

        <div class="lightbox">
            <div class="row">
                <div class="col-lg-3 mb-4">
                    <img src="/assets/ccvLaveenarizona.jpg"
                         data-mdb-img="/assets/ccvLaveenarizona.jpg" alt="Lightbox image 1"
                         class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-3 mb-4">
                    <img src="/assets/clubhouse.png"
                         data-mdb-img="/assets/clubhouse.png" alt="Lightbox image 2"
                         class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-3 mb-4">
                    <img src="/assets/flagstaffmedicalcenter-arizona.jpg"
                         data-mdb-img="/assets/flagstaffmedicalcenter-arizona.jpg" alt="Lightbox image 3"
                         class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-3 mb-4">
                    <img src="/assets/gccMainScienceBuilding-arizona.jpg"
                         data-mdb-img="/assets/gccMainScienceBuilding-arizona.jpg" alt="Lightbox image 3"
                         class="w-100 shadow-1-strong rounded" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg"
                         data-mdb-img="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg" alt="Lightbox image 3"
                         class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-3 mb-4">
                    <img src="/assets/hardRock-LasVegasNv.jpg"
                         data-mdb-img="/assets/hardRock-LasVegasNv.jpg" alt="Lightbox image 1"
                         class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-3 mb-4">
                    <img src="/assets/hardRock2-LasVegasNv.jpg"
                         data-mdb-img="/assets/hardRock2-LasVegasNv.jpg" alt="Lightbox image 2"
                         class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-3">
                    <img src="/assets/luckyDragon-lasVegasNv.jpg"
                         data-mdb-img="/assets/luckyDragon-lasVegasNv.jpg" alt="Lightbox image 3"
                         class="w-100 shadow-1-strong rounded" />
                </div>
            </div>
        </div>

    </section>
    <!--Section: Design Block-->

</div>
<!-- Container for demo purpose -->
