<!-- Container for demo purpose -->
<style>
    .spread {
        letter-spacing: 30px;
    }
</style>
<div class="mb-9">

    <!--Section: Design Block-->
    <section itemscope itemtype="https://metal-weld-specialties.herokuapp.com/">

        <h3 class="text-center display-4 spread mb-5">Our Projects
            <hr style="opacity: 1; color: black; width: 280px; margin-left: auto; margin-right: auto;">
        </h3>

        <p class="text-center mb-5 mx-auto w-responsive" itemprop="article">
            The work that we have done for the past 60 years has stood as a testimony of our accomplishments and the client's expectations met.
            View some previous work that we have completed, and see why our customers continue to highly recommended us.
            
            We have a more detailed collection of projects to see, sectioned off by each of our office locations. Click on the button below to view them. <br>
            <a href="/projects" class="btn mt-2 btn-primary">View All Projects</a>
        </p>

        <div class="lightbox" itemprop="project" itemscope itemtype="https://metal-weld-specialties.herokuapp.com/">
            <div class="row">
                <div class="col-lg-3 mb-4" itemprop="CCV-Laveen-Arizona">
                    <img src="/assets/ccvLaveenarizona.jpg"
                         data-mdb-img="/assets/ccvLaveenarizona.jpg" alt="Lightbox image 1"
                         class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-3 mb-4" itemprop="ClubHouse">
                    <img src="/assets/clubhouse.png"
                         data-mdb-img="/assets/clubhouse.png" alt="Lightbox image 2"
                         class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-3 mb-4" itemprop="FlagStaffMedical">
                    <img src="/assets/flagstaffmedicalcenter-arizona.jpg"
                         data-mdb-img="/assets/flagstaffmedicalcenter-arizona.jpg" alt="Lightbox image 3"
                         class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-3 mb-4" itemprop="GCC-MainScienceBuilding">
                    <img src="/assets/gccMainScienceBuilding-arizona.jpg"
                         data-mdb-img="/assets/gccMainScienceBuilding-arizona.jpg" alt="Lightbox image 3"
                         class="w-100 shadow-1-strong rounded" />
                </div>
            </div>
        </div>

    </section>
    <!--Section: Design Block-->

</div>
<!-- Container for demo purpose -->
