<!--Section: Design Block-->
<section itemprop="Metal-Weld Specialties">
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100"
         style="background: url('/assets/clubhouse.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;">

        <div class="mask" style="background-color: rgba(72, 76, 99, 0.5);">
            <div class="container-fluid" itemscope itemtype="https://metal-weld-specialties.herokuapp.com/">
                <div class="row row-cols-auto d-flex justify-content-center align-items-center intro-height" style="height: 100vh;">

                    <div class="col-md-10" itemid="Company Info">
                        <!--        class="text-bg-dark p-3" style="opacity: 0.8;"          -->
                        <div>
                            <div class="row">
                                <div class="col-md-12 text-start" itemprop="logo">
                                    <img src="/img/60years.png" style="height: 110px; width: 110px;" class="img-fluid" alt="img">
                                </div>
                                <div class="col-md-12" itemprop="company">
                                    <h1 class="display-4 fw-bold text-uppercase text-white my-2">Metal-Weld Specialties</h1>
                                    <hr class="mb-3" style="opacity: 1; color: white; width: 280px;">
                                </div>
                            </div>

                            <h3 class="fw-bold text-white mb-3" itemprop="slogan"> Fabricating & Erecting for America's most recognized corporations since 1961.</h3>
                            <div>
                                <a href="/contact" class="btn btn-primary btn-lg m-2">Contact Us</a>
                                <a href="/about" class="btn btn-outline-white btn-lg m-2">About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Intro -->
</section>
<!--Section: Design Block-->