<!-- Container for demo purpose -->
<div class="mb-9" itemscope itemtype="https://metal-weld-specialties.herokuapp.com/">

    <!--Section: Design Block-->
    <section>

        <h3 class="text-center mb-5">The Service You Can Expect</h3>

        <p class="text-center mb-md-5 mx-lg-5" itemprop="services">
            Our service has produced quality work for our customers and their community for over 60 years. When you choose to hire us,
            we know how our work impacts the customer and their business. We have always built structures to last and in turn we always
            built trust.
        </p>

        <div class="row align-items-center">
            <div class="col-lg-6 p-2">
                <img src="/img/steelBuilding.png" class="img-fluid shadow-lg rounded-3" alt="metal-frame">
            </div>
            <div class="col-lg-6 p-2">
                <div class="row mb-4">
                    <div class="col-md-1 col-2">
                        <i class="far fa-calendar-check text-primary fa-2x"></i>
                    </div>
                    <div class="col-md-11 col-10" itemprop="strongStructures">
                        <h5>Built To Last</h5>
                        <p>
                            Structures lasting for generations and expectations are longer.
                        </p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-1 col-2">
                        <i class="fas fa-users text-primary fa-2x"></i>
                    </div>
                    <div class="col-md-11 col-10" itemprop="GreatWork">
                        <h5>Best Practice</h5>
                        <p>
                            We know that regulations for the job, we'll get it done right.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-2">
                        <i class="fas fa-tools text-primary fa-2x"></i>
                    </div>
                    <div class="col-md-11 col-10" itemprop="HighQuality">
                        <h5>High Quality</h5>
                        <p>
                            You get a structure that last and will exceed your expectations.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Section: Design Block-->

</div>
<!-- Container for demo purpose -->
