<div class="container mt-5">
    <p class="lead">Remember to include a photo of the project, details, and the location</p>
    <div class="row justify-content-center text-dark mb-5">
        <div class="col-md-12">
            <form action="/store/hawaii" method="POST" enctype="multipart/form-data">
                <!-- Name input -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-outline mb-3">
                            <input type="text" placeholder="Project Title" id="form4Example1" name="title" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-outline mb-3">
                            <input type="text" placeholder="Project Location" id="form4Example1" name="location" class="form-control" />
                        </div>
                    </div>
                </div>

                <!-- Name input -->
                <div class="form-outline mb-3">
                    <input type="file" id="form4Example2" required name="image" class="form-control" accept="image/*" />
                </div>

                <!-- Message input -->
                <div class="form-outline mb-3">
                    <textarea class="form-control"="Project Summary" required name="body" id="form4Example3" rows="4"></textarea>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
            </form>
        </div>
    </div>
</div>
<!-- Container for demo purpose -->